 body{
    background-color: black;
    color: white

 }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,900&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 }
 
 .left{
    width: 25vw;
    padding: 10px;

 }

 .right{
    width: 75vw;
    margin: 16px 0;
 }

 
 .home ul li{
    display: flex;
    gap: 10px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
 }

 .heading{
    display: flex;
    gap: 10px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold ;
    align-items: center;
    font-size: 13px;
 }

 .library{
    min-height: 75vh;
    position: relative;
 }

 .heading img{
    width: 27px;
 }

 .footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
 }

 .footer a{
    color: grey;
     
 }


 .header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
 }

 .header > * {
    padding: 20px;
    
 }

 .spotifyPlaylists{
    padding: 13px;
 }

 .card >*{
   padding-top: 15px;
 }

 .cardContainer{
   margin: 10px;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;

 }
 .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
 }

 .card img{
   width: 100%;
   object-fit: contain;
 }